certifi==2019.11.28
cmake==3.16.3
keyboard==0.13.4
mkl-fft==1.0.15
mkl-service==2.3.0
numpy==1.11.3
packaging==20.1
pandas==0.23.4
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
sip==5.1.1
six==1.14.0
toml==0.10.0
wincertstore==0.2
opencv-python==3.3.1
dlib==19.4
pyqt==5.6.0